.chatinput {
  grid-column: 2;
  grid-row: 3;
  position: relative;
  width: 100%;
}

.inputfield {
  border: none;
  border-radius: 5px;
  height: 40px;
  font-size: 14px;
  width: 100%;
  padding-left: 10px;
  outline: none;
  background-color: #fff;
  caret-color: #368cbf;
}

.avatar {
  border-radius: 50%;
}
.name {
  font-weight: bold;
}

.btn-go {
  float: right;
  color: #368cbf;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 1px;
  background-color: transparent;
  outline: none;
}
