@import url("https://fonts.googleapis.com/css?family=Devonshire&display=swap");

.sidebar {
  grid-column: 1;
  grid-row: 1 / -1;
  padding: 20px;
  background-color: #1561ad;
  color: #fff;
}

.logo {
  font-family: "Devonshire", cursive;
  letter-spacing: 3px;
  font-size: 4rem;
  text-align: center;
  border-bottom: 0.5px solid #3a4660;
  text-shadow: 10px 5px 5px rgba(0, 0, 0, 0.1);
  user-select: none;
}

.sidebar h2 {
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar li {
  list-style: none;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 700px) {
  .sidebar {
    display: none;
  }
}
